@charset "UTF-8";
/*Обнуление всех стилей во всех браузерах, дальше задаём всё сами*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 20px;
}

.wrapper {
  max-width: 1920px;
}

.form-reading-test {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.test-info {
  margin-bottom: 20px;
}

.test-info__title {
  text-align: center;
  margin-bottom: 10px;
  font-size: 44px;
}
@media (max-width: 767px) {
  .test-info__title {
    font-size: 36px;
  }
}

.test-info__text {
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 18px;
}

.form__item {
  margin-bottom: 10px;
}

.form__label {
  display: block;
  margin-bottom: 10px;
}

.form__textarea {
  width: 100%;
  overflow-y: auto;
  height: 50px;
  max-height: 100px;
  min-height: 50px;
  resize: vertical;
  border: 3px solid #000;
  border-radius: 5px;
  padding: 10px;
}

.select__speed {
  max-width: 235px;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border: 3px solid #000;
  border-radius: 10px;
}

.option {
  text-align: center;
}

.form__button {
  display: block;
  max-width: 235px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 12px;
  background-color: #00dc00;
  -webkit-transition: background-color 0.5s ease 0;
  transition: background-color 0.5s ease 0;
}
.form__button:hover {
  background-color: #00bd00;
}

.form__button_red {
  background-color: #fc5555;
}
.form__button_red:hover {
  background-color: #fd2d2d;
}

.hidden {
  display: none;
}

.screen-reading {
  width: 100%;
  height: 100px;
  border: 3px solid #000;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.screen-reading__current-word {
  text-align: center;
  font-size: 36px;
}
@media (max-width: 767px) {
  .screen-reading__current-word {
    font-size: 24px;
  }
}

.space {
  height: 100px;
}